

<br />
<link href="~/Content/layui/css/layui.css" rel="stylesheet" />
<form class="layui-form" action="" method="post">
    <div class="layui-form-item">
        <label class="layui-form-label" style="margin-left:40px">菜单编号</label>
        <div class="layui-input-inline">
            <input type="text" name="ResNum" disabled placeholder="自动生成编号" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" style="margin-left:40px">菜单名</label>
        <div class="layui-input-inline">
            <input type="text" name="ResName" required lay-verify="required" placeholder="请输入角色名" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" style="margin-left:40px">路径</label>
        <div class="layui-input-inline">
            <input type="text" name="Url" required lay-verify="required" placeholder="请输入路径" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" style="margin-left:40px">父级菜单</label>
        <div class="layui-input-inline">
            @Html.DropDownList("ResourceList")
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" style="margin-left:40px">备注</label>
        <div class="layui-input-inline">
            <input type="text" name="Remark" required lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
    </div>
</form>
<script src="~/Content/layui/layui.all.js"></script>