
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form class="layui-form" action="" method="post">
    <div class="layui-form-item">
        <label class="layui-form-label">菜单编号</label>
        <div class="layui-input-inline">
            <input type="text" name="ResNum" required placeholder="请输入菜单编号" autocomplete="off" class="layui-input">
        </div>
        <button type="button" class="layui-btn" onclick="load()">查询</button>
    </div>
</form>
<table id="demo" lay-filter="test"></table>
@section scripts{
    <script type="text/html" id="barDemo">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm layui-btn-normal" lay-event="update">编写</button>
            <button class="layui-btn layui-btn-sm layui-btn-normal" lay-event="delete">删除</button>
        </div>
    </script>
    <script type="text/html" id="complain_toolbar">
        <div class="layui-but-container">
            <button class="layui-btn layui-btn-sm" type="submit" lay-event="add" id="btnAdd">添加<i class="layui-icon layui-icon-addition"></i></button>
        </div>
    </script>
    <script>
        $(function () {
            load();
            $("#btnAdd").click(function () {
                var layer = layui.layer;
                layer.open({
                    type: 2,
                    content: "/Res/Add",
                    area: ['26%', '45%'],
                    btn: ['保存', '关闭'],
                    closeBtn: 1,
                    yes: function (index, layero) {
                        var body = layer.getChildFrame('body', index);
                        //获取当前弹出框页面body标签下的input标签val
                        //find方法是获得当前元素的所有子孙元素 会一直往下找
                        //但是可以设定选择器（jquery选择器）
                        var info = {
                            UserCode: body.find('input[name=UserCode]').val(),
                            UserName: body.find("input[name=UserName]").val(),

                        }
                        if (info.Password != info.Password1) {
                            layer.msg('两次密码不一致', { icon: 5 });
                            return;
                        }
                        $.ajax({
                            type: "post",
                            url: "/Res/Add",
                            data: info,
                            success: function (data) {
                                if (data == true) {
                                    layer.msg("新增成功");
                                    layer.close(index);
                                }
                                else {
                                    layer.msg("新增失败");
                                }
                            },
                            error: function (xhr) {
                                layer.msg("错误:" + xhr.responseText);
                            }
                        });
                    },
                    end: function () {
                        table.reload("mytables");
                    }
                });
            });
        })
        function load() {
            var table = layui.table;
            var ResNum = $("[name=ResNum]").val();
            table.render({
                elem: '#demo'
                , id:'mytables'
                , url: '/Res/Indexs' //数据接口
                , page: true //开启分页
                , limit: 10
                , limits: [5, 10, 20]
                , toolbar: '#complain_toolbar'
                , where: { ResNum: ResNum }
                , cols: [[ //表头
                    { field: 'ResNum', title: '菜单编号', width: 120, sort: true, fixed: 'left' }
                    , { field: 'ResName', title: '菜单名称' }
                    , { field: 'ParentNum', title: '父级菜单' }
                    , { field: 'Url', title: '路径' }
                    , { field: 'CreateTime', title: '创建时间' }
                    , { field: 'IsDelete', title: '是否注销' }
                    , { field: 'Remark', title: '备注' }
                    , { title: '操作', align: 'center', toolbar: '#barDemo', fixed: 'right' }
                ]]
            });
            table.on('tool(test)', function (obj) {
                //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
                var data = obj.data; //获得当前行数据
                var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
                var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）

                if (layEvent == 'detail') { //查看
                    //do somehing
                } else if (layEvent == 'delete') { //删除
                    layer.confirm('真的删除行么', function (index) {
                        var id = obj.data.ResNum;
                        layer.close(index);
                        $.ajax({
                            url: '/Delete/SysResourceDelet/' + id,
                            type: 'post',
                            success: function (data) {
                                if (data == true) {
                                    layer.msg("删除成功！");
                                    table.reload("mytables");
                                }
                            },
                            error: function (xx) {
                                layer.msg("报错:" + xx.responseText);
                            }
                        })
                    });
                    /*修改*/
                } else if (layEvent == 'update') {
                    var id = obj.data.ResNum;
                    layer.open({
                        type: 2,
                        content: "/Update/UpdateSysResource/" + id,
                        area: ['800px', '400px'],
                        btn: ['保存', '关闭'],
                        closeBtn: 1,
                        yes: function (index, layero) {
                            var body = layer.getChildFrame('body', index);
                            //获取当前弹出框页面body标签下的input标签val
                            //find方法是获得当前元素的所有子孙元素 会一直往下找
                            //但是可以设定选择器（jquery选择器）
                            var info = {
                                ResNum: body.find('input[name=ResNum]').val(),
                                ResName: body.find("input[name=ResName]").val(),
                                Url: body.find("input[name=Url]").val(),
                                Remark: body.find("input[name=Remark]").val(),
                            }
                            $.ajax({
                                type: "post",
                                url: "/Update/UpdateSysResource",
                                data: info,
                                success: function (data) {
                                    if (data == true) {
                                        layer.msg("修改成功");
                                        layer.close(index);
                                    }
                                    else {
                                        layer.msg("修改失败");
                                    }
                                },
                                error: function (xhr) {
                                    layer.msg("错误:" + xhr.responseText);
                                }
                            });
                        },
                        end: function () {
                            table.reload("mytables");
                        }
                    });
                } else if (layEvent == 'LAYTABLE_TIPS') {
                    layer.alert('Hi，头部工具栏扩展的右侧图标。');
                }
            });
        }
    </script>
}

