 
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
  
}
<div class="layui-tab">
    <ul class="layui-tab-title">
        <li class="layui-this" value="3" onclick="loca(3)" id="All">所有</li>
        <li class="layui-this" value="2" onclick="loca(8)">待审核</li>
        <li class="layui-this" value="1" onclick="loca(9)">审核通过</li>
        <li class="layui-this" value="0" onclick="loca(10)">审核未通过</li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <div class="layui-form-item">
                <label class="layui-form-label">入库单号</label>
                <div class="layui-input-inline">
                    <input type="text" name="title" lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input" id="StoINums">
                </div>
                <button type="button" class="layui-btn" onclick="loca()">查询</button>
            </div>
            <table id="demo" lay-filter="test"></table>
        </div>
    </div>
</div>
<script type="text/html" id="barDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm layui-btn-normal" lay-event="update">编写</button>
        <button class="layui-btn layui-btn-sm layui-btn-normal" lay-event="delete">删除</button>
    </div>
</script>
<script type="text/html" id="complain_toolbar">
    <div class="layui-but-container">
        <button class="layui-btn layui-btn-sm" type="submit" lay-event="add" id="btnAdd"><a href="Add">添加</a><i class="layui-icon layui-icon-addition"></i></button>
    </div>
</script>
<script src="~/Content/layui/lay/jquery-1.10.2.min.js"></script>
<script>
    $(function () {
        loca(3);
        //$("#All").click(function () {
        //    $("#All").addClass("disabled");
        //    $("#All").siblings().removeClass("disabled");
        //    loca(3)
        //});
        //$("#dai").click(function () {
        //    $("#dai").addClass("disabled");
        //    $("#dai").siblings().removeClass("disabled");
        //    var SSNum = $("#dai").val();
        //    loca(SSNum)
        //});
        //$("#sh").click(function () {
        //    $("#sh").addClass("disabled");
        //    $("#sh").siblings().removeClass("disabled");
        //    var SSNum = $("#sh").val();
        //    loca(SSNum)
        //});
        //$("#dsh").click(function () {
        //    $("#dsh").addClass("disabled");
        //    $("#dsh").siblings().removeClass("disabled");
        //    var SSNum = $("#dsh").val();
        //    loca(SSNum)
        //});
        layui.use('element', function () {
            var element = layui.element;
        });
        $("#btnAdd").click(function () {
            var layer = layui.layer;
            $.ajax({
                type: "post",
                url: "/InStorage/Product/Add",
                data: info,
                success: function (data) {
                    if (data == true) {
                        layer.msg("新增成功");
                        layer.close(index);
                    }
                    else {
                        layer.msg("新增失败");
                    }
                },
                error: function (xhr) {
                    layer.msg("错误:" + xhr.responseText);
                }
            });
        });
    })
    function loca(SSNum) {
        //var ss = All;
        var table = layui.table;
        StoINum = $("#StoINums").val()
        table.render({
            elem: '#demo'
            , id: "mytables"
            , url: '/InStorage/Product/Lists' //数据接口
            , page: true //开启分页
            , where: { StoINum: StoINum, SSNum: SSNum}
            , limit: 3
            , limits: [3, 5, 10]
            , toolbar: '#complain_toolbar'
            , cols: [[ //表头
                { checkbox: true, fixed: true },
                { field: 'StoINum', title: '入库编号', width: 150, sort: true, fixed: 'left' }
                , { field: 'StoITypeName', title: '类型名称' }
                , { field: 'SupName', title: '供应商id' }
                , { field: 'SSName', title: '状态' }
                , { field: 'ContactName', title: '联系人' }
                , { field: 'OrderNum', title: '关联订单号' }
                , { field: 'Phone', title: '联系方式' }
                , { field: 'UserName', title: '制作人' }
                , { field: 'Remark', title: '备注' }
                , { field: 'CreateTime', title: '创建时间' }
                , { title: '操作', align: 'center', toolbar: '#barDemo', fixed: 'right' }
            ]],
            end: function () {
                table.reload("#mytables");
            }
        });
    }

</script>
